body {
    /* background:rgb(193, 241, 153); */
    margin: 0;
    font-family: monospace;
}

h1 {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.texto {
    padding: 28px;
    box-shadow: 0px 10px 24px -1px rgba(71, 68, 68, 0.14);
    text-align: center;
}

.caracteristicas{
    margin-top: 22px;
}
.caracteristicas ul li {
    color: #b00000;
    margin: 2px 10px;
    list-style: square;
    padding: 0.5em 0em;
    font-size: 12pt;
    text-align: justify;
}

/*Estilos de la galeria*/

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.galeria li {
    margin: 5px;
}

.galeria img {
    width: 150px;
    height: 100px;
}

/*Estilos del modal*/

.modal {
    display: none;
}

.modal:target {
    display: flex;
    position: fixed;
    background: rgba(39, 37, 37, 0.64);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.modal .modal-content {
    margin: auto;
    background: #fff;
    color: #000;
    border-radius: 11px;
    position: relative;
    padding: 0.5em;
}

.modal h3 {
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color:rgba(0, 0, 0, 0.7);
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
    user-select: none;
}

.imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.cerrar {
    width: 30px;
    height: 30px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    color:rgba(255, 255, 255, 0.97);
    padding: 5px;
    border-radius: 50%;
    line-height: 2px;
}

.cerrar-container {
    position: absolute;
    top: 0;
    right: 0;
    background: #989191;
    padding: 5px;
    margin-right: -10px;
    margin-top: -10px;
    border-radius: 10px;
}



#container-main {
    margin: 40px auto;
    width: 95%;
    min-width: 320px;
    max-width: 960px;
}

#container-main h1 {
    font-size: 20pt;
    padding-bottom: 44px;
    color: rgba(0, 0, 0, 0.7);
}

.accordion-container {
    width: 100%;
    margin: 0 0 20px;
    clear: both;
}

.accordion-titulo {
    position: relative;
    display: block;
    padding: 20px;
    font-size: 15pt;
    font-weight: 300;
    background: #ffffff;
    color: #b00000;
    text-decoration: none;
}

.accordion-titulo.open {
    background: #b00000;
    color: #fff;
}

.accordion-titulo:hover {
    background: #b00000;
    color: #fff;
}

.accordion-titulo span.toggle-icon:before {
    content: "+";
}

.accordion-titulo.open span.toggle-icon:before {
    content: "-";
}

.accordion-titulo span.toggle-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 38px;
    font-weight: bold;
}

.accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
}

.accordion-content p {
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
   text-align: justify;
}

/* .accordion-content img {
    display: block;
	float: left;
	margin: 0 15px 10px 0;
	width: 100%;
    height: auto;

} */



@media (max-width: 767px) {
    .accordion-content {
        padding: 10px 0;
    }
}